body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
.input-group {
margin:0;
}


.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

 /* Footer */
/* containing position sticky */
footer {
  text-align: center;
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}